<template>
  <q-page
    padding
    class="col q-pa-lg"
  >
    <div
      class="row justify-center"
      v-if="hasBreadcrumbs"
    >
      <div :class="`${isForm ? 'col-xs-12 col-md-10 col-lg-10 q-pb-md' : 'col-xs-12 col-md-12 col-lg-12 q-pb-md'}`">
        <custom-breadcrumbs></custom-breadcrumbs>
      </div>
    </div>
    <div
      class="row justify-center"
      v-if="isForm"
    >
      <div class="col-xs-12 col-md-10 col-lg-10 q-pb-md">
        <slot></slot>
      </div>
    </div>
    <div
      class="row justify-center"
      v-else
    >
      <div class="col-xs-12 col-md-12 col-lg-12">
        <slot></slot>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  props: ['hasBreadcrumbs', 'isForm']
}
</script>

<style>
</style>
