<template>
  <q-item
    class="drawer-item-gd"
    :class="selectedMenuItemIndex === index ? 'drawer-item-gd-active' : ''"
    v-ripple
    clickable
    @click="goToPage()"
    :header-inset-level="headerInsetLevel"
  >
    <q-item-section avatar>
      <q-icon
        class="q-ml-sm"
        color="gd"
        :name="`${selectedMenuItemIndex === index ? selectedIconName : iconName }`"
        size="xs"
      />
    </q-item-section>
    <q-item-section>
      <q-item-label>{{ label }}</q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
export default {
  props: ['index', 'to', 'iconName', 'selectedIconName', 'label', 'headerInsetLevel'],
  methods: {
    ...mapActions('layout', ['setSelectedMenuItemIndex']),
    goToPage () {
      this.setSelectedMenuItemIndex(this.index)
      this.$router.push({ name: this.to })
    }
  },
  computed: {
    ...mapGetters('layout', ['selectedMenuItemIndex'])
  }
}
</script>
