<template>
  <q-footer
    bordered
    class="bg-white text-white"
  >
    <q-toolbar>
      <q-img
        class="q-ma-md"
        src="selo_prodepa.gif"
        style="height: 15px; width:100px;"
      />
      <q-img
        class="q-mr-md"
        src="selo_pa.png"
        style="height: 15px;width:100px;"
      />
      <q-toolbar-title>
      </q-toolbar-title>
      <q-badge
        label="Versão 0004.0001.000-006S 20191025-1205"
        class="q-mr-md"
        style="background-color: #d2d6de; color: #444; font-size: 75%;"
      />
    </q-toolbar>
  </q-footer>
</template>

<script>
export default {
  // name: 'ComponentName',
  data () {
    return {}
  }
}
</script>
