// app global css in Stylus form
.login-page
  background: url(https://www.sistemas.pa.gov.br/resources/7/497/346.png?timestamp=1606232723417)
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

.sistema-card:hover
  transform: scale(1.05, 1.05)
  -ms-transform: scale(1.05, 1.05)
  -webkit-transform: scale(1.05, 1.05)

.drawer-item-gd
  font-weight: 400
  color: black

.drawer-item-gd:hover
  color: #00517F
  font-weight: bold
  
.drawer-item-gd-active
  font-weight: bold
  color: #00517F
  // background-color: #ececec