<template>
  <q-breadcrumbs
    v-if="breadcrumbs.length > 0"
    class="text-grey q-pt-md q-pb-md"
    active-color="primary"
  >
    <q-breadcrumbs-el
      v-for="(item, index) in breadcrumbs.filter(item => item.label !== undefined)"
      :key="index"
      :label="item.label"
      :class="index < breadcrumbs.length - 1 ? 'cursor-pointer' : 'non-selectable'"
      @click="index < breadcrumbs.length - 1 ? onClick(item) : null"
      :icon="item.icon"
    />

    <slot name="breadcrumb" />

  </q-breadcrumbs>
</template>

<script>
import { mapActions, mapState } from 'vuex'
export default {
  // name: 'ComponentName',
  data () {
    return {}
  },
  methods: {
    ...mapActions('layout', ['clearBreadcrumb', 'addBreadcrumb']),
    onClick (props) {
      if (props.push !== undefined) {
        if (props.push !== null) {
          this.$router.push({ name: props.push })
        }
      } else if (props.go !== undefined) {
        if (props.go !== null) {
          this.$router.go(props.go)
        }
      } else if (props.click !== undefined) {
        if (props.click !== null) {
          props.click()
        }
      } else {
        this.$router.go(0)
      }
    }
  },
  computed: {
    ...mapState('layout', ['breadcrumbs'])
  }
}
</script>
