<template>
  <q-layout>
    <q-page-container>
      <q-page class="row items-center justify-end login-page">
        <div
          style="width: 360px; height: 100vh; background: rgba(60,141,188,0.75);"
          class="row items-center q-px-md"
        >
          <div class="col q-gutter-y-lg">
            <q-img
              class="q-px-xl q-mb-md"
              src="statics/logo_gd_color.png"
              contain
            />
            <q-form
              @submit="onSubmitAutenticacao"
              class="q-px-xs"
            >
              <q-card
                flat
                square
                class="bg-grey-1"
              >
                <q-card-section class="text-center q-gutter-y-md">
                  <div class="text-body1 text-weight-regular">Autenticação</div>
                  <div>
                    <span class="text-body2 text-grey-9">Selecione a organização e informe a sua senha para acessar.</span>
                  </div>
                  <q-input
                    disable
                    standout
                    outlined
                    color="blue"
                    bg-color="white"
                    v-model="cpf"
                    type="text"
                    label="CPF"
                    mask="###.###.###-##"
                    fill-mask="_"
                    lazy-rules
                    hide-bottom-space
                    :rules="[val => val !== undefined && val !== null & val !== '' || 'Campo obrigatório', val => cpfValido(val) || 'CPF inválido']"
                  >
                    <template v-slot:prepend>
                      <q-icon name="mdi-account-box" />
                    </template>
                  </q-input>
                  <q-select
                    standout
                    outlined
                    color="blue"
                    bg-color="white"
                    v-model="organizacao"
                    :options="organizacoes"
                    label="Organização *"
                  />
                  <q-input
                    standout
                    outlined
                    color="blue"
                    bg-color="white"
                    v-model="password"
                    :type="isPwd ? 'password' : 'text'"
                    label="Senha"
                    autocomplete="off"
                    lazy-rules
                    hide-bottom-space
                    :rules="[val => val !== undefined && val !== null & val !== '' || 'Campo obrigatório']"
                  >
                    <template v-slot:append>
                      <q-icon
                        :name="isPwd ? 'visibility_off' : 'visibility'"
                        class="cursor-pointer"
                        @click="isPwd = !isPwd"
                      />
                    </template>
                  </q-input>
                  <q-btn
                    unelevated
                    style="background-color: #3c8dbc; height: 45px;"
                    class="text-white text-weight-bold full-width q-my-md"
                    icon="login"
                    label="Acessar"
                    type="submit"
                  />

                </q-card-section>
                <div class="row justify-center q-pb-xs q-gutter-x-md">
                  <q-img
                    src="statics/selo_prodepa.gif"
                    style="height: 15px; width:100px;"
                  />
                  <q-img
                    src="statics/selo_pa.png"
                    style="height: 15px;width:100px;"
                  />
                </div>
                <div class="row justify-center q-pb-md q-gutter-x-md">
                  <q-badge
                    label="Versão 0004.0001.000-006S 20191025-1205"
                    style="background-color: #d2d6de; color: #444; font-size: 75%;"
                  />
                </div>
              </q-card>
            </q-form>
          </div>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>

</template>

<script>
import { mapState } from 'vuex'
import { cpfValido } from '../helpers/Validador.js'
export default {
  name: 'MyLayout',
  components: {
  },
  data () {
    return {
      cpf: '',
      password: '',
      isPwd: true,
      organizacao: '',
      organizacoes: ['PRODEPA', 'SEPLAD']
    }
  },
  methods: {
    cpfValido,
    onSubmitAutenticacao () {
      this.$router.push({ name: 'home' })
    }
  },
  computed: {
    ...mapState('layout', ['drawerMenuOpen', 'breadcrumbs'])
  },
  created () {
    if (this.$route.params.cpf !== undefined) {
      this.cpf = this.$route.params.cpf
    }
    this.organizacao = this.organizacoes[0]
  }
}
</script>
