
<template>
  <q-layout>
    <q-page-container>
      <q-page class="row items-center justify-center">
        <div class="column">
          <q-form
            @submit="onSubmitAutenticacao"
            class="q-px-xs"
          >
            <q-card
              bordered
              class="shadow-0 q-px-lg q-py-lg"
            >
              <q-card-section class="text-center q-gutter-y-md">
                <q-img
                  width="200px"
                  class="q-px-xl"
                  src="fingerprint.png"
                  contain
                />
                <div class="text-body1 text-weight-regular ">Controle de acesso - Autenticação</div>

                <div>
                  <span class="text-body2 text-grey-9">Selecione a organização e informe a sua senha para acessar.</span>
                </div>
                <q-input
                  disable
                  standout
                  outlined
                  bg-color="white"
                  v-model="cpf"
                  type="text"
                  label="CPF"
                  mask="###.###.###-##"
                  fill-mask="_"
                  lazy-rules
                  hide-bottom-space
                  :rules="[val => val !== undefined && val !== null & val !== '' || 'Campo obrigatório', val => cpfValido(val) || 'CPF inválido']"
                >
                  <template v-slot:prepend>
                    <q-icon name="mdi-account-box" />
                  </template>
                </q-input>
                <q-select
                  standout
                  outlined
                  bg-color="white"
                  v-model="organizacao"
                  :options="organizacoes"
                  label="Organização *"
                />
                <q-input
                  standout
                  outlined
                  bg-color="white"
                  v-model="password"
                  :type="isPwd ? 'password' : 'text'"
                  label="Senha"
                  autocomplete="off"
                  hide-bottom-space
                >
                  <!-- lazy-rules
                  :rules="[val => val !== undefined && val !== null & val !== '' || 'Campo obrigatório']" -->
                  <template v-slot:append>
                    <q-icon
                      :name="isPwd ? 'visibility_off' : 'visibility'"
                      class="cursor-pointer"
                      @click="isPwd = !isPwd"
                    />
                  </template>
                </q-input>
                <div class="row justify-between">
                  <q-btn
                    unelevated
                    no-caps
                    flat
                    ripple="false"
                    dense
                    class="text-weight-bold q-px-none text-primary"
                    label="Cancelar"
                    @click="$router.go(-1)"
                  />
                  <q-btn
                    unelevated
                    no-caps
                    color="primary"
                    class="text-weight-bold q-px-lg"
                    label="Autenticar"
                    type="submit"
                  />
                  <q-inner-loading :showing="showLoading">
                    <q-spinner-dots
                      size="50px"
                      color="primary"
                    />
                  </q-inner-loading>
                </div>
              </q-card-section>
              <!-- <div class="row justify-center q-pb-xs q-gutter-x-md">
              <q-img
                src="selo_prodepa.gif"
                style="height: 15px; width:100px;"
              />
              <q-img
                src="selo_pa.png"
                style="height: 15px;width:100px;"
              />
            </div>
            <div class="row justify-center q-pb-md q-gutter-x-md">
              <q-badge
                label="Versão 0004.0001.000-006S 20191025-1205"
                style="background-color: #d2d6de; color: #444; font-size: 75%;"
              />
            </div> -->
            </q-card>
          </q-form>
          <div class="row q-mt-md justify-between">
            <q-btn
              style="margin-left: 4px; font-size: 12px;"
              class="text-grey-7"
              flat
              dense
              unelevated
              no-caps
              label="Voltar ao Governo Digital"
            />
            <q-btn
              style="margin-right: 4px; font-size: 12px;"
              class="text-grey-7"
              flat
              dense
              unelevated
              no-caps
              label="Termo de privacidade"
            />
          </div>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>

</template>

<script>
import { mapState } from 'vuex'
import { cpfValido } from '../helpers/Validador.js'
export default {
  name: 'MyLayout',
  components: {
  },
  data () {
    return {
      cpf: '',
      password: '',
      isPwd: true,
      organizacao: '',
      organizacoes: ['PRODEPA', 'SEPLAD'],
      showLoading: false
    }
  },
  methods: {
    cpfValido,
    onSubmitAutenticacao () {
      this.showLoading = true
      setTimeout(() => {
        this.showLoading = false
        this.$router.push({
          name: 'home-gd'
        })
      }, 2000)
    }
  },
  computed: {
    ...mapState('layout', ['drawerMenuOpen', 'breadcrumbs'])
  },
  created () {
    if (this.$route.params.cpf !== undefined) {
      this.cpf = this.$route.params.cpf
    }
    this.organizacao = this.organizacoes[0]
  }
}
</script>
