<template>
  <q-layout>
    <q-page-container>
      <q-page class="row items-center justify-end login-page">
        <div
          style="width: 360px; height: 100vh; background: rgba(60,141,188,0.75);"
          class="row items-center q-px-md"
        >
          <div class="col q-gutter-y-lg">
            <q-img
              class="q-px-xl"
              src="logo_gd_color.png"
              contain
            />
            <q-card
              flat
              square
              class="bg-grey-1 q-mx-xs q-pa-md"
            >
              <q-card-section class="text-center">
                <div class="text-body1 text-weight-regular q-mb-sm">Bem-vindo(a) ao Governo Digital</div>
                <div class="q-mb-md">
                  <span class=" text-grey-9">Inicie uma sessão para continuar</span>
                </div>
                <div class="q-mx-xs">

                  <q-btn
                    unelevated
                    style="background-color: #3c8dbc; height: 45px;"
                    class="text-white text-weight-bold full-width q-mb-sm"
                    icon="login"
                    label="Iniciar Sessão"
                    @click="goToIdentificacao"
                  />
                </div>
              </q-card-section>
              <div class="row justify-center q-pb-xs q-gutter-x-md">
                <q-img
                  src="selo_prodepa.gif"
                  style="height: 15px; width:100px;"
                />
                <q-img
                  src="selo_pa.png"
                  style="height: 15px;width:100px;"
                />
              </div>
              <div class="row justify-center q-pb-md q-gutter-x-md">
                <q-badge
                  label="Versão 0004.0001.000-006S 20191025-1205"
                  style="background-color: #d2d6de; color: #444; font-size: 75%;"
                />
              </div>
            </q-card>
          </div>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>

</template>

<script>
import { openURL } from 'quasar'
import { mapState } from 'vuex'
import { cpfValido } from '../helpers/Validador.js'
export default {
  name: 'MyLayout',
  components: {
  },
  data () {
    return {
      cpf: '',
      didSelectShowEsqueciSenha: false
    }
  },
  methods: {
    cpfValido,
    onSubmitIdentificacao () {
      this.$router.push({
        name: 'autenticacao',
        params: {
          cpf: this.cpf
        }
      })
    },
    goToIdentificacao () {
      console.log(this.$router.currentRoute)
      openURL(`${this.$router.currentRoute.fullPath}#/identificacao`)
    }
  },
  computed: {
    ...mapState('layout', ['drawerMenuOpen', 'breadcrumbs'])
  }
}
</script>
