<template>
  <q-layout>
    <q-page-container>
      <q-page class="row items-center justify-center">
        <div class="column">
          <q-form
            @submit="onSubmitIdentificacao"
            class="q-px-xs"
          >
            <q-card
              bordered
              class="shadow-0 q-px-lg q-py-lg"
            >
              <q-card-section class="text-center q-gutter-y-md">
                <q-img
                  width="200px"
                  class="q-px-xl"
                  src="fingerprint.png"
                  contain
                />
                <div class="text-body1 text-weight-regular ">Controle de acesso - Login</div>
                <div class="q-py-sm">
                  <div class="text-body2 text-grey-9 q-mb-md">Informe o seu CPF para que possamos identificar o seu cadastro.</div>
                  <q-input
                    standout
                    outlined
                    color="primary"
                    bg-color="white"
                    v-model="cpf"
                    type="text"
                    label="CPF"
                    mask="###.###.###-##"
                    hide-bottom-space
                    fill-mask="_"
                    lazy-rules
                    :rules="[val => val !== undefined && val !== null & val !== '' || 'Campo obrigatório', val => cpfValido(val) || 'CPF inválido']"
                  >
                    <template v-slot:prepend>
                      <q-icon name="mdi-account-box" />
                    </template>
                  </q-input>
                </div>
                <div class="row justify-between">
                  <q-btn
                    unelevated
                    no-caps
                    flat
                    ripple="false"
                    dense
                    class="text-weight-bold q-px-none text-primary"
                    label="Criar conta"
                  />
                  <q-btn
                    unelevated
                    no-caps
                    color="primary"
                    class="text-weight-bold q-px-lg"
                    label="Próximo"
                    type="submit"
                  />
                  <q-inner-loading :showing="showLoading">
                    <q-spinner-dots
                      size="50px"
                      color="primary"
                    />
                  </q-inner-loading>
                </div>
              </q-card-section>
              <!-- <div class="row justify-center q-pb-xs q-gutter-x-md">
              <q-img
                src="selo_prodepa.gif"
                style="height: 15px; width:100px;"
              />
              <q-img
                src="selo_pa.png"
                style="height: 15px;width:100px;"
              />
            </div>
            <div class="row justify-center q-pb-md q-gutter-x-md">
              <q-badge
                label="Versão 0004.0001.000-006S 20191025-1205"
                style="background-color: #d2d6de; color: #444; font-size: 75%;"
              />
            </div> -->
            </q-card>
          </q-form>
          <div class="row q-mt-md justify-between">
            <q-btn
              style="margin-left: 4px; font-size: 12px;"
              class="text-grey-7"
              flat
              dense
              unelevated
              no-caps
              label="Voltar ao Governo Digital"
            />
            <q-btn
              style="margin-right: 4px; font-size: 12px;"
              class="text-grey-7"
              flat
              dense
              unelevated
              no-caps
              label="Termo de privacidade"
            />
          </div>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>

</template>

<script>
import { mapState } from 'vuex'
import { cpfValido } from '../helpers/Validador.js'
export default {
  name: 'MyLayout',
  components: {
  },
  data () {
    return {
      cpf: '',
      didSelectShowEsqueciSenha: false,
      showLoading: false
    }
  },
  methods: {
    cpfValido,
    onSubmitIdentificacao () {
      this.showLoading = true
      setTimeout(() => {
        this.showLoading = false
        this.$router.push({
          name: 'autenticacao',
          params: {
            cpf: this.cpf
          }
        })
      }, 2000)
    }
  },
  computed: {
    ...mapState('layout', ['drawerMenuOpen', 'breadcrumbs'])
  }
}
</script>
