<template>
  <q-layout>
    <q-page-container>
      <q-page class="row items-center justify-end login-page">
        <div
          style="width: 360px; height: 100vh; background: rgba(60,141,188,0.75);"
          class="row items-center q-px-md"
        >
          <div class="col q-gutter-y-lg">
            <q-img
              class="q-px-xl"
              src="statics/logo_gd_color.png"
              contain
            />
            <q-form
              @submit="onSubmitIdentificacao"
              class="q-px-xs"
            >
              <q-card
                flat
                square
                class="bg-grey-1"
              >
                <q-card-section class="text-center">
                  <div class="text-body1 text-weight-regular q-mb-md">Identificação</div>
                  <div class="q-mb-md">
                    <span class="text-body2 text-grey-9">Informe o seu CPF para que possamos identificar o seu cadastro.</span>
                  </div>
                  <q-input
                    standout
                    outlined
                    class="q-mb-sm"
                    color="blue"
                    bg-color="white"
                    v-model="cpf"
                    type="text"
                    label="CPF"
                    mask="###.###.###-##"
                    fill-mask="_"
                    lazy-rules
                    :rules="[val => val !== undefined && val !== null & val !== '' || 'Campo obrigatório', val => cpfValido(val) || 'CPF inválido']"
                  >
                    <template v-slot:prepend>
                      <q-icon name="mdi-account-box" />
                    </template>
                  </q-input>
                  <q-btn
                    unelevated
                    style="background-color: #3c8dbc; height: 45px;"
                    class="text-white text-weight-bold full-width"
                    icon="login"
                    label="Entrar"
                    type="submit"
                  />
                  <!-- <q-input
                square
                v-model="password"
                type="password"
                label="Senha"
                autocomplete="off"
                lazy-rules
                :rules="[val => val !== undefined && val !== null & val !== '' || 'Campo obrigatório']"
              >
                <template v-slot:prepend>
                  <q-icon name="mdi-lock" />
                </template>
              </q-input> -->
                  <div class="row justify-center q-pt-sm q-pb-sm">
                    <q-btn
                      flat
                      dense
                      style="color: #3c8dbc;"
                      icon="info"
                      no-caps
                      label="Esqueci a senha"
                      @click="didSelectShowEsqueciSenha"
                    ></q-btn>
                  </div>
                </q-card-section>
                <div class="row justify-center q-pb-xs q-gutter-x-md">
                  <q-img
                    src="statics/selo_prodepa.gif"
                    style="height: 15px; width:100px;"
                  />
                  <q-img
                    src="statics/selo_pa.png"
                    style="height: 15px;width:100px;"
                  />
                </div>
                <div class="row justify-center q-pb-md q-gutter-x-md">
                  <q-badge
                    label="Versão 0004.0001.000-006S 20191025-1205"
                    style="background-color: #d2d6de; color: #444; font-size: 75%;"
                  />
                </div>
              </q-card>
            </q-form>
          </div>
        </div>
      </q-page>
    </q-page-container>
  </q-layout>

</template>

<script>
import { mapState } from 'vuex'
import { cpfValido } from '../helpers/Validador.js'
export default {
  name: 'MyLayout',
  components: {
  },
  data () {
    return {
      cpf: '',
      didSelectShowEsqueciSenha: false
    }
  },
  methods: {
    cpfValido,
    onSubmitIdentificacao () {
      this.$router.push({
        name: 'autenticacao',
        params: {
          cpf: this.cpf
        }
      })
    }
  },
  computed: {
    ...mapState('layout', ['drawerMenuOpen', 'breadcrumbs'])
  }
}
</script>
