<template>
  <q-layout
    view="hHh Lpr lFf"
    class="bg-grey-1"
  >
    <gd-header-drawer></gd-header-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
    <gd-footer></gd-footer>
  </q-layout>

</template>

<script>
import GDHeaderDrawer from '../components/GDHeaderDrawer.vue'
import GDFooter from '../components/GDFooter.vue'
import { mapState } from 'vuex'
export default {
  name: 'MyLayout',
  components: {
    'gd-header-drawer': GDHeaderDrawer,
    'gd-footer': GDFooter
  },
  computed: {
    ...mapState('layout', ['drawerMenuOpen', 'breadcrumbs'])
  }
}
</script>

<style lang="sass">
.YL
  &__drawer-footer-link
    color: inherit
    text-decoration: none
    font-weight: 500
    font-size: .75rem

    &:hover
      color: #000
</style>
